body {
    margin: 0;
    padding: 0;
}

.back-to-gameManu {
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: #DAE3E7;
    border-radius: 3em;
    width: 35px;
    height: 35px;
}

.back-to-gameManu p {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 260%;
    width: 100px;
}

.back-to-gameManu a img {
    position: relative;
    transform: translate(-50%, -50%) rotateY(180deg);
    top: 50%;
    left: 45%;
    width: 80%;
    height: 80%;
}