html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.case {
    height: 100vh;
    width: 100vw;
}

.box-left {
    position: fixed;
    height: 100vh;
    width: 20%;
    border-right: gray 2px solid;
    background-image: linear-gradient(to top, #053378, #00569d, #007bc1, #00a1e1, #00c8ff);
}

.box-right {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* left: 50%; */
    left: 60%;
    width: 60%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    filter: blur(0px);
    transform: translateX(-50%);
}

.box-right2 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100vh;
    /* border-left: gray 2px solid; */
    transition: 0.8s;
}

.bar-label2 {
    background-color: rgb(143, 143, 143);
    position: fixed;
    right: -45px;
    top: 39%;
    z-index: 9999;
    padding: 5px;
    border-radius: 1vmin;
    transform: rotateZ(-90deg) translateX(-50%);
    transition: 0.5s;
}

.bar-label2 p {
    margin: 0px 0px 50px 0px;
    font-size: 2vmin;
}

#chk2 {
    position: absolute;
    visibility: hidden;
}

#chk2:checked ~ .box-right2 {
    right: 0;
}

#chk2:checked ~ .bar-label2 {
    right: -60px;
    background-color: rgb(226, 87, 87);
}

#chk2:checked ~ .case .box-right {
    left: 50%;
}

.right2-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 96%;
    top: 2%;
    background-color: #adadad66;
    box-shadow: 5px 5px 14px 1px rgba(00,00,00,0.2);
    border-radius: 1vmin;
}

.right2-header-text {
    position: relative;
    height: 10%;
    width: 100%;
    text-align: center;
}

.right2-box-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.right2-box-container a {
    text-decoration: none;
    color: moccasin;
}

.rigth2-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 1vmin;
    box-shadow: 5px 5px 14px 1px rgba(00,00,00,0.2);
    background-color: lightslategray;
    transition: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rigth2-box:hover {
    width: 83%;
    height: 23%;
    box-shadow: 5px 5px 14px 1px rgba(00,00,00,0.5);
}

.rigth2-box h3 {
    position: relative;
    top: 7%;
    left: 7%;
    font-size: 3vmin;
}

.right2-header-text h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 3vmin;
}

#chk1:checked ~ .case .box-right {
    filter: blur(3px);
}

.infor-box {
    position: relative;
    width: 100%;
    /* height: 1200px; */
    margin: 15px;
    padding: 10px;
    /* background-color: rgba(95, 158, 160, 0.418); */
    border-radius: 0.5em;
}

.infor-box img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.infor-box p {
    font-size: 2vmin;
}

.logo {
    position: relative;
    height: 6vh;
    text-align: center;
    top: 10%;
    /* background-color: aquamarine; */
}

.logo img {
    height: 100%;
    background-color:rgba(247, 247, 247, 0.35);
    border-radius: 100em;
    padding: 2%;
}

.box {
    position: relative;
    width: 100%;
    margin: 15px 15px 0px 15px;
    /* background-color: brown; */
}

.box a img:hover {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.185);
}

.box a img {
    width: 100%;
    border-radius: 0.5em;
    transition: all 0.3s ease-in-out;
}

.box h2 {
    position: absolute;
    z-index: 100;
    top: -20px;
    left: 20px;
    /* transform: translate(-50%, -50%); */
    margin: 0;
    font-size: 2vw;
    /* display: none; */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 2vw;
    background-color: rgba(165, 42, 42, 0.596);
    border-radius: 0.3em;
}

.static-box {
    position: relative;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-page {
    position: relative;
    margin: 4vh 0 4vh 0;
    width: 70%;
    text-align: center;
    background-color: #053378;
    border-radius: 3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    transition: 0.5s;
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}

.link-page:hover {
    width: 60%;
    border: #042961 3px solid;
}

.link-page a {
    font-size: 2vmin;
    color: aqua;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding: 1vh;
}

.link-page a:hover {
    color: rgb(53, 142, 165);
}

.hardder-text {
    position: absolute;
    width: 100%;
    top: 19%;
    color: rgb(96, 204, 149);
    text-align: center;
    font-size: 2vmin;
}


/* ------ Text Hover ------- */
#box:hover ~ #text {
    /* display: inline; */
    top: 20px;
    opacity: 1;
}
/* ------ Text Hover ------- */

/* ------ navigation bar ------- */

.navigation-box {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    /* background-color: blueviolet; */
    z-index: 1000;
}

.span-bar {
    position: relative;
    width: 90%;
    background-color: #2196F3;
    margin: 3 0 3 0;
    border-radius: 0.1em;
}

.bar-label {
    /* background-color: cadetblue; */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    /* position: fixed;
    width: 100%;
    height: 100%; */
    z-index: 3000;
    cursor: pointer;
    display: none;
}

.navigation-bar {
    border-radius: 0px 0% 0% 0px;
    position: fixed;
    width: 70%;
    left: -70%;
    /* left: 0; */
    height: 100vh;
    background-color: rgba(160, 142, 142, 0.781);
    z-index: 899;
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

#chk1 {
    position: absolute;
    visibility: hidden;
}

#chk1:checked ~ .case .navigation-bar {
    left: 0;
    border-radius: 0px 35% 50% 0px;
}

.title-text {
    /* background-color: rgb(71, 165, 42); */
    position: relative;
    width: 100%;
    top: 20%;
    text-align: center;
    opacity: 0;
    transition: 0.8s ease-in-out;
}

#chk1:checked ~ .case .navigation-bar .title-text {
    opacity: 1;
}

.title-text h1 {
    margin: 0;
    font-size: 7vmin;
}

.navi-link-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navi-link-page a {
    width: 100%;
    /* background-color: blueviolet; */
    color: aqua;
    text-align: center;
    text-decoration: none;
    margin: 10 0 10 0;
    font-size: 5vmin;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    transform: translateY(-20px);
}

#chk1:checked ~ .case .navigation-bar .navi-link-page a {
    opacity: 1;
    transform: translateY(0px);
}

.navi-link-page a:nth-child(1) {
    transition-delay: 0.4s;
}
.navi-link-page a:nth-child(2) {
    transition-delay: 0.5s;
}
.navi-link-page a:nth-child(3) {
    transition-delay: 0.6s;
}
.navi-link-page a:nth-child(4) {
    transition-delay: 0.7s;
}

/* ------ navigation bar ------- */

@media screen and (max-width: 600px) {
    .box-left {
        display: none;
    }

    .box-right {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .navigation-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box a img{
        border-radius: 10px 10px 0px 0px;
    }

    .box h2 {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        text-align: center;
        border-radius: 0px 0px 10px 10px;
        font-size: 4vw;
    }

    .bar-label {
        display: inline;
    }

    .infor-box p {
        font-size: 4vw;
    }

    .box-right2 {
        visibility: hidden;
    }
}