/* .box-right {
    background-color: chocolate;
    padding: 10px;
} */

.center-haeder-text {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.479);
    margin-top: 2vh;
    /* margin-bottom: 5vh; */
    border-radius: 0.5em;
    text-align: center;
}

.center-haeder-text h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vmin;
}

.center-conten-top3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: cornsilk;
    width: 100%;
    /* height: 50%; */
    /* margin-top: 5%; */
}

.conten-filter-container {
    position: relative;
    width: 100%;
    height: 3vh;
    /* background-color: brown; */
    margin: 4vh 0vh 1vh 0vh;
}

.filter-box {
    position: absolute;
    height: 98%;
    width: 33%;
    background-color: burlywood;
    border-radius: 100em;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}

.filter-box:hover {
    cursor: pointer;
    box-shadow: 5px 5px 14px 1px rgba(00,00,00,0.4);
}

.filter-box p {
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vmin;
}

.filter-loader {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.filter-loader img {
    height: 400%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.center-conten-table {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #d6d6d65c;
}

table thead {
    background-color: coral;
    
}

table thead tr {
    height: 6vh;
}

table tbody tr {
    height: 4.5vh;
}

th {
    font-size: 3vmin;
}

td {
    font-size: 2vmin;
}

tbody tr:hover {
    background-color: rgba(194, 194, 194, 0.5);
}

#res-error {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {

}