/* .box-right {
    background-color: chocolate;
    padding: 10px;
} */

.center-haeder-text {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.479);
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 0.5em;
    text-align: center;
}

.center-haeder-text h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vmin;
}

.center-conten-top3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: cornsilk;
    width: 100%;
    /* height: 50%; */
    /* margin-top: 5%; */
}


.center-conten-table {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #d6d6d65c;
}

table thead {
    background-color: coral;
    
}

table thead tr {
    height: 6vh;
}

table tbody tr {
    height: 4.5vh;
}

th {
    font-size: 3vmin;
}

td {
    font-size: 2vmin;
}

tbody tr:hover {
    background-color: rgba(194, 194, 194, 0.5);
}

@media screen and (max-width: 600px) {

}