html {
    scroll-behavior: smooth;
    font-family: 'Questrial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.case {
    position: fixed;
    width: 100%;
    height: 100vh;
    perspective: 1000px;
    background-color: rgb(255, 255, 255);
    perspective: 100px;
}

.top-text {
    margin: 0;
    top: 19px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.left-text {
    margin: 0;
    top: 50%;
    left: 18px;
    transform: translate(-50%, -50%) rotateZ(90deg);
    position: fixed;
}

.right-text {
    margin: 0;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%) rotateZ(-90deg);
    position: fixed;
}

.bottom-text {
    margin: 0;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.sector {
    width: 100%;
    height: 2630px;
}

.page {
    position: fixed;
    transform: 
        translateX(-50%)
        translateY(-50%)
        translateZ(0px)
    ;
    width: 400px;
    perspective: 100px;
}

.linkAble {
    position: fixed;
    width: 400px;
    height: 250px;
    background-color: chocolate;
}

.case h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(-50px);
    font-size: 300px;
    margin: 0;
}

.background {
    position: fixed;
    background-color: rgb(140, 140, 235);
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 1;
}

.img-book {
    position: relative;
    width: 400%;
    height: 400%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(10px 15px 20px rgba(0, 0, 0, 0.5)); 
}

.img-pen1 {
    position: relative;
    transform: rotateZ(-45deg) translate(-50%, -50%);
    top: -100%;
    left: 100%;
    width: 200%;
    height: 200%;
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5)); 
}

/* ---------loadder--------- */

.hidden {
    display: none;
}

.loadder {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 10000;
}

.loadder-box {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: top left;
}

.loadder-text span {
    font: 26px Monaco, MonoSpace;
    height: 150px;
    position: absolute;
    width: 20px;
    left: 42%;
    top: -100px;
    transform-origin: bottom center;
}

.char1 { 
    transform: rotate(0deg) ;
}
.char2 {
    transform: rotate(45deg) ; 
}
.char3 { 
    transform: rotate(90deg) ; 
}
.char4 { 
    transform: rotate(135deg) ; 
}

.char5 { 
    transform: rotate(180deg) ; 
}
.char6 { 
    transform: rotate(225deg) ; 
}
.char7 { 
    transform: rotate(270deg) ; 
}
.char8 { 
    transform: rotate(315deg) ; 
}

.loadder-persen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

@keyframes test {
    0% {
        transform: rotate(0deg) translate(-50%, -50%)
    }
    100% {
        transform: rotate(360deg) translate(-50%, -50%)
    }
}

/* ---------loadder--------- */