* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: Kanit-ExtraLight;
    src: url(./asset/Kanit-ExtraLight.ttf);
}

.button {
    border: none;
    border-radius: 8px;
    font-size: 55px;
    color: #ffffff;
    font-family: Kanit-ExtraLight;
    cursor: pointer;
    text-align: center;
    outline: none;
}

#button_1 {
    background-color: rgb(240, 19, 77);
}
#button_1:hover {
    background-color: rgb(208, 0, 55);
}

#button_2 {
    background-color: rgb(62, 100, 255);
}
#button_2:hover {
    background-color: rgb(0, 76, 226);
}

#button_3 {
    background-color: rgb(255, 211, 105);
}
#button_3:hover {
    background-color: rgb(255, 183, 79);
}

#button_4 {
    background-color: rgb(94, 183, 183);
}
#button_4:hover {
    background-color: rgb(65, 156, 156);
}

#button_back {
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(0,212,255);
}
#button_back:after {
    content: '\276E \276E';
}
#button_back:hover {
    background-color: rgb(0, 184, 226);
}
#button_back:hover:after {
    content: '\276E \276E \0020 Back to manu';
}

/* ----------------Sweet alert---------------- */

.btn-danger {
    background-color: #dc3545;
    border: none;
    border-color: #dc3545;
    border-radius: .25em;
    color: #fff;
    font-size: 1.0625em;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1.0625em;
    border: none;
    color: #fff;
    border-radius: .25em;
}

.btn {
    margin: 10px;
    padding: 10px;
}

/* ----------------Sweet alert---------------- */

/* .game-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.back-to-gameManu {
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: aqua;
    border-radius: 3em;
    width: 35px;
    height: 35px;
}

.back-to-gameManu p {
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 260%;
    width: 100px;
}

.back-to-gameManu a img {
    position: relative;
    transform: translate(-50%, -50%) rotateY(180deg);
    top: 50%;
    left: 45%;
    width: 80%;
    height: 80%;
} */