html{
    font-family: 'Sriracha', cursive;
    background-color: rgb(255, 255, 255);
}
table{
    position: relative;
    width: 100%;
    border: solid black;
    border-radius: 50px/50px;
    background-color: rgb(155, 252, 252);
}
table { border-collapse: separate; }
th {
    width: 30%;
    font-size: 25px;
    /* background-color: rgb(2, 177, 177); */
}
/* tr{
    background-color: rgb(2, 177, 177);
}
thead{
    background-color: rgb(2, 177, 177);
} */
td{
    position: relative;
    text-align: center;
    font-size: 25px;
}
#style1{
    width: 60%; 
    position: relative; 
    top: 5%;
    left: 20%; 
}
#style2{
    border: solid rgb(0, 132, 255);
    border-radius: 50px/50px;
    width: 90%; 
    position: relative; 
    top: 5%;
    left: 5%; 
}
#style3{
    width: 90%; 
    position: relative; 
    top: 5%;
    left: 5%;
}
