html{
    font-family: 'Sriracha', cursive;
}
th {
    border-collapse: collapse;
    border: 1px solid #333;
    width: 30%;
}
td{
    border-style: none none solid none;
    position: relative;
    text-align: center;
    font-size: 25px;
}
#style1{
    border: solid rgb(0, 132, 255);
    border-radius: 50px/50px;
    width: 60%; 
    position: relative; 
    top: 5%;
    left: 20%; 
}
#style2{
    border: solid rgb(0, 132, 255);
    border-radius: 50px/50px;
    width: 90%; 
    position: relative; 
    top: 5%;
    left: 5%; 
}
#style3{
    background-color: aqua;
    border: solid aqua;
    border-radius: 50px/50px;
    width: 90%; 
    position: relative; 
    top: 5%;
    left: 5%;
}

